---
layout: splash
header:
  overlay_image: /images/covers/kitab3a.jpg

feature_row:
  - image_path: /images/kitab/photo05.jpg
      
    
    url: "#test-link"
    btn_label: "Meet the team"
    btn_class: "btn--primary"
  - image_path: /images/kitab/textalignment.png
    
      
    
    url: "#test-link"
    btn_label: "Explore our data"
    btn_class: "btn--primary"
  - image_path: /images/kitab/mesa.jpg
    
    
    url: "#test-link"
    btn_label: "FAQs"
    btn_class: "btn--primary"
feature_row2:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Left Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Left aligned with `type="left"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Right Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Right aligned with `type="right"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row4:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Center Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Centered with `type="center"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row %}



 {{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}
 {% if paginator %} {% assign posts = paginator.posts %} {% else %} {% assign posts = site.posts %} {% endif %} {% assign entries_layout = page.entries_layout | default: 'list' %}
 {% for post in posts %} {% include archive-single.html type=entries_layout %} {% endfor %}
 {% include paginator.html %}



 {% include feature_row id="feature_row2" type="left" %}
 {% include feature_row id="feature_row3" type="left" %}
